<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My first EJS Page</h1>
    <h2>You are <%= usern.username %></h2>
    <h2>Password: <%= usern.password %></h2>
    <% if(usern.admin){ %><p>You can continue to Admin site</p><% } %>

   
</body>
</html>